doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drills-3 A1
    link(rel='stylesheet', href='./css/a1.css')
  body
    h1 A1 - Strings

    input#firstname(type='text')
    input#lastname(type='text')
    input#movie(type='text')
    button#go GO!

    #container

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/a1.js')
